body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: url(/download.jpg);
  background-size: cover;
}
#grid{
  width: 450px;
  height: 450px;
  background-color: #cc6600;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: url(/images.jpg);
  background-size: cover;
  border: 3px solid black;
  border-radius: 25px;
}
#grid div{
  width: 150px;
  height: 150px;
}

#grid div img{
  width: 150px;
  height: 150x;
}